@import "../../node_modules/normalize-scss/sass/normalize";
@import "../scss/variables.scss";
@import "../scss/mixins.scss";

html {
    @include normalize(all);
}

body.dark {
    background-color: $darkMainBGColor;
    color: $darkMainFontColor;
}

a {
    text-decoration: none;
}