@import "../../scss/variables.scss";

.TODOList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50%;
  padding: 0 -15px;
  background-color: $darkTODOListBGColor;
  border: 3px solid $darkMainFontColor;

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    background-color: $darkTODOListHeaderBGColor;
    border-bottom: 2px solid $darkMainFontColor;
  }

  &__settingsButton {
    font-weight: 700;
    font-size: 30px;
  }

  &__tasks {
    margin: 0px;
    padding: 20px 0 20px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    gap: 5px;
  }

  &__task {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
  }

  &__label {
    width: 100%;
  }

  &__text {
    width: 100%;
    background-color: $darkTODOListBGColor;
    border: none;
    font-weight: 700;
  }

  &__textChecked {
    width: 100%;
    background-color: $darkTODOListBGColor;
    border: none;
    font-weight: 700;
    text-decoration: line-through;
  }

  &__checkbox {
    transform: scale(1.3);
  }

  &__deleteTask {
    font-weight: 700;
  }


  &__AddItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 13px;
  }

  &__Submit {
    font-weight: 700;
    font-size: 16px;
  }
}